<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>


    <h1 th:text="${jobs.size() + ' Result(s)'}"></h1>

    <div th:if="${jobs.size() == 0}"><h3>Sorry, nothing here.</h3></div>

    <table th:if="${jobs.size() != 0}" class="job-listing" th:each="job : ${jobs}">
        <tr th:each="jobData : ${job.entrySet()}">
            <th><strong th:text="${jobData.getKey()}">Title</strong></th>
            <td th:text="${jobData.getValue()}">Value</td>
        </tr>
    </table>

</div>

</body>
</html>